<h2 id="utility-function">Function</h2>
<h3>JSoop.emptyFn()</h3>
<p>You can use <code>emptyFn</code> as a placeholder function. Generally this is used to provide subclasses with template functions that can be overridden.</p>
<h3>Jsoop.bind(fn, scope)</h3>
<p>Bind allows you to create a version of a function that will always be bound to the given scope. Most of JSoop supports scoping, but when working with code not created by JSoop this can be very handy.</p>
<pre data-src="{{ root }}{{ assets }}/examples/utility/function/bind.js"></pre>
