<h2 id="utility-type-checking">Type Checking</h2>
<p>JSoop provides simple type checking function that allow you to correctly identify the type of objects in your code. All of the functions work the same and are attached directly to the <code>JSoop</code> object. The following functions exist:</p>
<table class="table">
    <thead>
        <tr>
            <th>Function</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>isArray</code></td>
            <td>This will return <code>true</code> only for true arrays, not array-like objects</td>
        </tr>
        <tr>
            <td><code>isBool</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>isDate</code></td>
            <td>Only checks for the <code>Date</code> object, not strings in date format</td>
        </tr>
        <tr>
            <td><code>isElement</code></td>
            <td>This checks to see if an object is an HTMLElement</td>
        </tr>
        <tr>
            <td><code>isFunction</code></td>
            <td>Raw constructors will cause this to return <code>true</code></td>
        </tr>
        <tr>
            <td><code>isNumber</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>isObject</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>isPrimitive</code></td>
            <td>This checks for bool, number and string</td>
        </tr>
        <tr>
            <td><code>isRegExp</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>isString</code></td>
            <td></td>
        </tr>
    </tbody>
</table>
