<h3 id="mixins-configurable-basic-usage">Basic Usage</h3>
<p>The configurable mixin is used, as it name suggests, to configure classes. At its core, it takes a given config object and applies it to its class.</p>
<pre data-src="{{ root }}{{ assets }}/examples/mixins/configurable/basic.js"></pre>
<div class="callout callout-warning">
    <h4>Configurable overrides</h4>
    <p>When applying a config to an object, Configruable overrides anything that already exists in the class. This can have undesirable consequences. Often the benefits of having a mutable class outweigh the pitfalls, but caution should still be taken.</p>
</div>
