<h3 id="mixins-configurable-required">Required Config</h3>
<p>While default values solve most cases of needed configuration, sometimes you need to be able to force the user to provide specific config values to make your class work. These values can be defined in the <code>required</code> property. If, after apply defaults, a config does not contain all required config items then an error will be thrown. As with defaults, required config items are inherited.</p>
<pre data-src="{{ root }}{{ assets }}/examples/mixins/configurable/required.js"></pre>
