{% set assets = '..' ~ assets %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>JSoop - {% block title %}The Object Oriented Library{% endblock %}</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ assets }}/css/prism.css">
    <link rel="stylesheet" href="{{ assets }}/css/styles.css">
    <link rel="stylesheet" href="{{ assets }}/css/styles.css">
    {% block css %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse {% if nav == 'static' %}navbar-static{% else %}navbar-fixed-top{% endif %}" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">JSoop</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="features.html">Features</a></li>
                <li><a href="usage.html">Usage</a></li>
                <li><a href="https://github.com/puritysdisciple/jsoop">Download</a></li>
            </ul>
        </div>
    </div>
</div>

{% block content %}{% endblock %}

<div class="container">
    <footer>
        <hr/>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ assets }}/js/prism.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>
