<h2 id="classes-aliases">Aliases</h2>
<p>JSoop supports two different types of aliasing: function aliasing and class aliasing. Creating function aliases allows you to create additional names for methods, or apply methods to other objects after the class is created. Function aliasing is done using the <code>fnAlias</code> property.</p>
<pre data-src="{{ root }}{{ assets }}/examples/classes/aliases/function.js"></pre>
<p>Class name aliases can be added via the <code>alias</code> property. This allows a class to be created via additional names when being created by <code>JSoop::create</code>.</p>
<pre data-src="{{ root }}{{ assets }}/examples/classes/aliases/name.js"></pre>
