<h2 id="classes-basic">Basic Class</h2>
<p>Defining a class in JSoop is extremely simple. It just requires a name, and an object containing all the properties and methods you want your class to contain.</p>
<pre data-src="{{ root }}{{ assets }}/examples/classes/basic/define.js"></pre>
<div class="callout callout-warning">
    <h4>Classes are defined globally</h4>
    <p>All classes defined by JSoop are defined at a global level. It is therefore required that you put all of your classes into namespaces to avoid collisions. In these examples, all classes will be in the <code>Demo</code> namespace.</p>
</div>
