<h2 id="classes-hooks">Hooks</h2>
<p>JSoop provides hooks that allow you to do processing at definition time or after. This allows you to do some maintenance on your classes prior to them being officially defined. The most common of these hooks is the postprocessor that is called once the class is ready to use.</p>
<p>This hook can be used by passing a function as the third argument of <code>define</code>. This callback will receive the newly defined class as its first argument.</p>
<pre data-src="{{ root }}{{ assets }}/examples/classes/hooks/basic.js"></pre>
