<h2 id="classes-singleton">Singletons</h2>
<p>Singletons can be created by simply setting the <code>singleton</code> flag to <code>true</code>. This will replace the resulting class with an instance of itself.</p>
<pre data-src="{{ root }}{{ assets }}/examples/classes/singleton/basic.js"></pre>
