<h2 id="classes-statics">Statics</h2>
<p>Adding statics to a class is done by adding a <code>statics</code> property to the object passed to <code>define</code>.</p>
<pre data-src="{{ root }}{{ assets }}/examples/classes/statics/basic.js"></pre>
<div class="callout callout-warning">
    <h4>Don't add statics to singletons</h4>
    <p>While it is possible to add statics to a singleton, it is generally bad practice. This should generally be avoided.</p>
</div>
