<h3 id="mixins-observable-listeners">Multiple Listeners</h3>
<p>You can add or remove multiple listeners at once using the object format. This is done by passing an object with event names as the keys and listeners as the values. Default versions of options can be added to any level of the object to apply to either all or a single listener.</p>
<pre data-src="{{ root }}{{ assets }}/examples/mixins/observable/listeners.js"></pre>
