<h3 id="mixins-observable-managed">Managed Listeners</h3>
<p>For a cleaner way to listen to another object's events, you can use managed listeners. These have the same syntax as traditional listeners but use the <code>mon</code> and <code>moff</code> methods instead. The only difference being that you need to pass the object you want to listen to as your first parameter.</p>
<pre data-src="{{ root }}{{ assets }}/examples/mixins/observable/managed.js"></pre>
